.ui.container.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.ui.grid.column {
  display: flex;
}

.description {
  min-height: 3em;
  font-size: 11pt;
}

.author {
  font-size: medium;
}
.ui.label {
  font-style: italic;
}
